.body {

  /*background-color: #c0c0e3;*/
  background-color: rgb(231, 235, 248);
  background-image: url(../images/fondo-section-2.png);
}

/*Botones*/
.call_to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #6c0fee;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  transform: translateY(-7px);
}

/*HEADER*/
/*tamaño fonfo azul*/
.header {
  /*content: "";*/
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  /*background-color: rgb(255, 0, 0);*/
  background-image: url(../images/header-bg.png);

  background-size: 100% 100%;
  /* background-position: right bottom;*/
  /* background-repeat: no-repeat;*/
  z-index: -1;

}

/*.header_contenedor {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
  
    
  }*/

.item1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 255, 115);
}

.item2 {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 255);
}

/*.header_texto {
    color: #fefeff;
  }*/

/*letra h1*/
.header_texto h1 {
  font-size: 50px;
  color: gold;
  font-weight: 600;
  width: 40%;
  position: relative;
  top: 10px;
  left: 30px;
}

/*margenes texto parrafo*/
.header_texto p {
  font-size: 20px;
  color: white;
  width: 50%;
  margin-bottom: 100px;
  position: relative;
  top: 20px;
  left: 30px;
}

/*tamaño imagen header*/
.header_img {
  width: 30%;
  /*margin-top: 0%;*/
  margin-bottom: 0px;
  position: relative;
  bottom: 170px;
  left: 1000px;
}

.imagenr {
  border-radius: 10px;
}

.carrusel {
  /*background-color: rgb(11, 46, 46);*/
  background-image: url(../images/fondo9.jpg);
  width: 100%;
  height: 50%;
}

/* seccion0 */
.seccion0 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  /*background-image: url(../images/fondo-section-2.png);*/
  width: 100%;
  height: 50%;
}

.seccion0 a {
  background-color: #fdd31d;
  color: #fefeff;
}

.seccion0_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(213, 193, 244);
}

.seccion0_box h3 {
  color: blue;
  font-style: italic;
}

/* seccion1 */
.seccion1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  /*background-image: url(../images/fondo-seccion-1.jpg);*/
  width: 100%;
  height: 50%;
}

.seccion1 a {
  background-color: #6ebca8;
  color: #fefeff;
}

.seccion1_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(247, 216, 247);
}

.seccion1_box h3 {
  color: blue;
  font-style: italic;
}

/* seccion2 */
.seccion2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  /*background-image: url(../images/fondo-section-2.png);*/
  width: 100%;
  height: 50%;
}

.seccion2 a {
  background-color: #f40606;
  color: #fefeff;
}

.seccion2_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(207, 246, 234);
}

.seccion2_box h3 {
  color: blue;
  font-style: italic;
}

/* end seccion2 */

/* seccion3 */
.seccion3 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  /*background-image: url(../images/fondo-seccion-1.jpg);*/
  width: 100%;
  height: 50%;
}

.seccion3 a {
  background-color: #4c01fc;
  color: #fefeff;
}

.seccion3_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(238, 228, 178);
}

.seccion3_box h3 {
  color: blue;
  font-style: italic;
}

/* end seccion3 */

/* seccion4 */
.seccion4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
 /* background-image: url(../images/fondo-section-2.png);*/
  width: 100%;
  height: 50%;
}

.seccion4 a {
  background-color: #f905c0;
  color: #fefeff;
}

.seccion4_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(245, 189, 200);
}

.seccion4_box h3 {
  color: blue;
  font-style: italic;
}

/* end seccion4 */

/* seccion5 */
.seccion5 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  /*background-image: url(../images/fondo-podcast.jpg);*/
  width: 100%;
  height: 50%;
}

.seccion5 a {
  background-color: #6ebca8;
  color: #fefeff;
}
/* end seccion5 */

/* info section */
.info_section {
  background-color: #6f697f;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}

.info_logo-box h2 {

  font-weight: bold;
  padding: 5px 7px;
  border-bottom: 1.5px solid #fff;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section ul li a:hover {
  color: #5d1dfd;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: #5d1dfd;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */

/*rectangolo final*/
.layout_padding2-top {
  padding-top: 5000px;
}

/* footer seccion*/
.footer_seccion {
  background-color: #5d1dfd;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;
}

.footer_seccion p {
  color: #fff;
  margin: 0;
  text-align: center;
}

.footer_seccion a {
  color: #fdfdfe;
}

/* Fin footer seccion*/

/*Inicio_login*/
.login {
  width: 100%;
  height: 50%;
}

.login_box1 {
  margin-top: 50px;
  width: 100%;
  height: 50%;
  background-color: blue;
}

.login_box1 h3 {
  margin-left: 20px;
  color: white;
  font-style: italic;
}

.container_login {
  width: 500px;
  height: 300px;
  margin-top: 10px;
  margin-left: 400px;
  padding-left: 80px;
  padding-top: 20px;
  background-color: white;
}

.container_login h4 {
  margin-left: 10px;
  margin-bottom: 20px;
  color: black;
  font-style: italic;
}

.button_acceder {
  margin-top: 30px;
  margin-left: 120px;
}

.login_box2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 50%;
  background-color: blue;
}

/* end login */

/*Inicio registro*/
.registro {
  width: 100%;
  height: 50%;
}

.registro_box1 {
  margin-top: 50px;
  width: 100%;
  height: 50%;
  background-color: blue;
}

.registro_box1 h3 {
  margin-left: 20px;
  color: white;
  font-style: italic;
}

.container_registro {
  width: 700px;
  height: 550px;
  margin-top: 10px;
  margin-left: 300px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-top: 20px;
  background-color: white;
}

.container_registro h4 {
  margin-left: 100px;
  margin-bottom: 50px;
  color: black;
  font-style: italic;
}

.registro_correo {
  margin-top: 20px;
}

.registro_pw {
  margin-top: 20px;
}

.button_registro {
  margin-top: 30px;
  margin-left: 120px;
}

/* end registro */
/*inicio tutoriales*/
/*tutorial1*/
.tutorial1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  /*background-image: url(../images/fondo-seccion-1.jpg);*/
  width: 100%;
  height: 50%;
}

.tutorial1 a {
  background-color: #6ebca8;
  color: #fefeff;
}

.tutorial1_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(249, 191, 249);
}

.tutorial1_box h3 {
  color: blue;
  font-style: italic;
}

/*tutorial2*/
.tutorial2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  /*background-image: url(../images/fondo-section-2.png);*/
  width: 100%;
  height: 50%;
}

.tutorial2 a {
  background-color: #6ebca8;
  color: #fefeff;
}

.tutorial2_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(186, 200, 244);
}

.tutorial2_box h3 {
  color: blue;
  font-style: italic;
}
/*end tutoriales*/

/*tablero de comunicacion*/
/*tableros1*/
.tableros1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  /*background-image: url(../images/fondo-seccion-1.jpg);*/
  width: 100%;
  height: 50%;
}

.tableros1 a {
  background-color: #6ebca8;
  color: #fefeff;
}

.tableros1_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(191, 225, 249);
}

.tableros1_box h3 {
  color: blue;
  font-style: italic;
}

/*tableros2*/
.tableros2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  /*background-image: url(../images/fondo-section-2.png);*/
  width: 100%;
  height: 50%;
}

.tableros2 a {
  background-color: #6ebca8;
  color: #fefeff;
}

.tableros2_box {
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(244, 184, 189);
}

.tableros2_box h3 {
  color: blue;
  font-style: italic;
}
/*end tableros*/

/*Inicio contactenos*/
.contactenos {
  width: 100%;
  height: 50%;
}

.contactenos_box1 {
  margin-top: 50px;
  width: 100%;
  height: 50%;
  background-color: blue;
}

.contactenos_box1 h3 {
  margin-left: 20px;
  color: white;
  font-style: italic;
}

.container_contactenos {
  width: 700px;
  height: 450px;
  margin-top: 10px;
  margin-left: 300px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-top: 20px;
  background-color: white;
}

.container_contactenos h4 {
  margin-left: 100px;
  margin-bottom: 50px;
  color: black;
  font-style: italic;
}

.contactenos_correo {
  margin-top: 20px;
}

.button_contactenos {
  margin-top: 30px;
  margin-left: 10px;
}
